<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        .one{
            background-color: #1340d3;
            width: 200px;
            height: 20px;
            text-align: center;
            padding: 10px;
        }

        .two{
            float: left;
            width: 150px;
            text-align: center;
        }

        .text{
            color: #f0f0f0;
            float: left;
            text-align: center;
            width: 50px;
        }
    </style>
</head>


<body>

<div class="one">
    <div class="text">123</div>
    <div class="two">
        <select id="font" class="form-control" onchange="setWaterFontFamily()">
            <option value="宋体" selected="selected">宋体</option>
            <option value="黑体">黑体</option>
            <option value="微软雅黑">微软雅黑</option>
            <option value="仿宋">仿宋</option>
            <option value="楷体">楷体</option>
            <option value="arial">Arial</option>
            <option value="calibri">Calibri</option>
            <option value="cambria">Cambria</option>
            <option value="candara">Candara</option>
            <option value="consolas">Consolas</option>
            <option value="cordia new">Cordia New</option>
            <option value="frankruehl">Drankruehl</option>
            <option value="georgia">Georgia</option>
            <option value="lucida console">Lucida Console</option>
            <option value="palatino linotype">Palatino Linotype</option>
            <option value="tahoma">Tahoma</option>
            <option value="times new roman">Times New Roman</option>
            <option value="verdana">Verdana</option>
        </select>
    </div>
</div>

</body>
</html>