<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test01</title>

    <!--  注释代码
    <script type="text/javascript">
        function displayMsg()
        {
            alert("Hello World!")
        }
    </script>
    //-->


</head>
<body bgcolor="#f4f4f4">

<h1 align="center">标题1</h1>
<p> 段落1</p>
<h2 align="right">标题2</h2>
<p> 段落2</p>
<h3 align="left">标题3</h3>
<p> 段落3</p>
<h4>标题4</h4>
<p> 段落4</p>
<h5>标题5</h5>
<p> 段落5</p>

<!--注释 不会显示-->
<a href="http://www.baidu.com">baidu</a>

<br>

<img src="../../static/images/404.png" width="473" height="125">

<br>

The <abbr title="People's Republic of China 222222">PRC</abbr> was founded in 1949.

<acronym title="World Wide Web">WWW</acronym>

<address>
    Written by <a href="mailto:webmaster@example.com">Donald Duck</a>.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
</address>
<h2>视频播放</h2>
<p>
    <video src="../../static/video/movie.ogg" controls="controls" width="100%">
        your browser does not support the video tag
    </video>
</p>


<table border="1">
    <caption>Monthly savings</caption>
    <tr>
        <th>Month</th>
        <th>Savings</th>
    </tr>
    <tr>
        <td>January</td>
        <td>$100</td>
    </tr>
</table>


<button type="button">clickON</button>

<p>This is<br/>a para<br/>graph with line breaks</p>

<p>code 元素不保留多余的空格和折行：</p>

<code>
    var person = {
    firstName:"Bill",
    lastName:"Gates",
    age:50,
    eyeColor:"blue"
    }
</code>

var person = {
firstName:"Bill",
lastName:"Gates",
age:50,
eyeColor:"blue"
}

<br/>
<a href="../login.html">
<img border="0" src="../../static/images/next.gif" height="100" width="100" />
</a>

<div style="background-color:green ">
    <img src="" width="100%" height="100">
</div>
</body>
</html>