<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8"/>
<script src="../css/jquery-1.8.3.min.js"></script>
<script src="../css/html2canvas.js"></script>

<style>

    #img{
         display: none;
     }


    #content {
        width: 600px;
        height: 600px;
        border: 1px lightblue solid;
        background-repeat: no-repeat;
    }

    #water-text {
        width: 100px;
        height: 30px;
        line-height: 30px;
        color: #ff0000;
        position: absolute;
        cursor: pointer;
    }

</style>

<body>
<input id="url" type="hidden" th:value="${src}" />
<img id="img" th:src="@{${src}}">

<div id="content">

    <span id="water-text" onmousedown="small_down(event)">Hello world</span>

</div>

<div class="input-group"><span class="input-group-addon">水印文字</span>
    <input id="words" value="QiShui" class="form-control" maxlength="16" oninput="setwateName()">
</div>

<button id="Save">Save</button>

</body>


<script>
    //设置属性
    var img= document.getElementById('img');
    var url=document.getElementById('url');
    var text;
    var path;
    setSize();
    function setSize() {
        text=document.getElementById('water-text');
        var div = document.getElementById('content');
        div.style.width = img.width+'px';
        div.style.height = img.height+'px';
        div.style.backgroundImage="url('"+url.value+"')";
        path=img.src;
        path="_water_"+path.substring(path.lastIndexOf('/')+1,path.length);
    }


    // 设置名字
    function setwateName() {
        document.getElementById("water-text").innerHTML = document.getElementById("words").value;
    }

    //移动处理
    function small_down(e) {
        var obig = document.getElementById("water-wrap");
        var osmall = document.getElementById("water-text");
        var e = e || window.event;
        /*用于保存小的div拖拽前的坐标*/
        osmall.startX = e.clientX - osmall.offsetLeft;
        osmall.startY = e.clientY - osmall.offsetTop;
        /*鼠标的移动事件*/
        document.onmousemove = function (e) {
            var e = e || window.event;
            osmall.style.left = e.clientX - osmall.startX + "px";
            osmall.style.top = e.clientY - osmall.startY + "px";
            /*对于大的DIV四个边界的判断*/
            if (e.clientX - osmall.startX <= 0) {
                osmall.style.left = 0 + "px";
            }
            if (e.clientY - osmall.startY <= 0) {
                osmall.style.top = 0 + "px";
            }
            if (e.clientX - osmall.startX >= img.width) {
                osmall.style.left = img.width + "px";
            }
            if (e.clientY - osmall.startY >= img.height) {
                osmall.style.top = img.height + "px";
            }
        };
        /*鼠标的抬起事件,终止拖动*/
        document.onmouseup = function () {
            document.onmousemove = null;
            document.onmouseup = null;
        };
    }

    $(function () {
        $("#Save").click(function () {
            html2canvas($("#content"), {

                onrendered: function (canvas) {
                    //document.body.appendChild(canvas);
                    var a = document.createElement('a');
                    a.download = path;
                    a.href = canvas.toDataURL("image/jpeg");
                    a.click();
                }
            });
        });
    });

</script>



</html>