<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能导航页面</title>

    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            background-image: url("../images/home_bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        a{
            text-decoration:none;
        }

        ul li{
            margin: 10px;
        }

    </style>

</head>
<body >

<ul>
    <li>
        <a href="/water_photo_upload">添加水印</a>
    </li>

</ul>



</body>
</html>